@use '../abstracts' as *;

// body {
//     min-height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-family: 'Baloo 2', sans-serif;
//     background-color: #f9f9f9;
// }

.all {
    min-width: 90vw;
    padding: 2rem;
    @extend %backTotop;

    &__form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
    }

    .card-row {
        display: grid;
        grid-gap: 2rem;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    }

    .card {
        border: 1px solid #c9c9c9;
        border-radius: 7px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
        overflow: hidden;
    }

    .card__content {
        padding: 20px;
    }

    .card__img {
        background-size: cover;
        background-position: center;
        // 16:9 ratio
        padding-bottom: 62.5%;
    }

    form {
        padding-bottom: 2rem;
    }

    #new-image {
        min-width: 40vw;
    }
}
