@use '../abstracts' as *;
// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

h1 {
    color: $brand-color;
    text-align: center;
    font-weight: 1199;
    -webkit-text-stroke: 1px whitesmoke;
}
