%backTotop {
    // Learn about this technique:
    // @link https://moderncss.dev/pure-css-smooth-scroll-back-to-top/

    // Learn about this technique:
    // @link https://moderncss.dev/pure-css-smooth-scroll-back-to-top/

    $color: #254568;

    // How far of a scroll travel within <main> prior to the
    // link appearing
    $scrollLength: 100vh;

    // Smooth scrolling IF user doesn't have a preference due to motion sensitivities
    @media (prefers-reduced-motion: no-preference) {
        html {
            scroll-behavior: smooth;
        }
    }

    // required to make sure the `absolute` positioning of
    // the anchor wrapper is indeed `relative` to this element vs. the body
    position: relative;

    .back-to-top-wrapper {
        position: absolute;
        top: $scrollLength;
        right: 0.25rem;
        bottom: -5em;
        width: 3em;
        pointer-events: none;
    }

    .back-to-top-link {
        // `fixed` is fallback
        position: fixed;
        // preferred positioning, requires prefixing for most support, and not supported on Safari
        // @link https://caniuse.com/#search=position%3A%20sticky
        position: sticky;
        // reinstate clicks
        pointer-events: all;
        // achieves desired positioning within the viewport
        // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
        top: calc(100vh - 5rem);

        // basic styling
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        padding: 0.25rem;

        // "pretty" styles, including states
        border: 1px solid $color;
        background-color: scale-color($color, $lightness: 85%);
        transition: transform 80ms ease-in;

        &:hover,
        &:focus {
            transform: scale(1.1);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px scale-color($color, $lightness: 35%);
        }
    }
}
