@use '../abstracts' as *;
// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@if ($footerBottomMethod == 'flexbox') {
    footer {
        margin-top: auto;
    }
}

.footer {
    margin-bottom: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    nav {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}
